@import "../common/fonts.scss";

.amenities-container {
  background: #121212;
  .amenities {
    width: 100%;
    max-width: 1440px;
    overflow: hidden;
    padding: 40px 20px 64px 20px;
    @media screen and (min-width: 768px) {
      padding: 80px 32px 80px 32px;
    }
    @media screen and (min-width: 1440px) {
      padding: 94px 32px 616px 32px;
    }

    .amenities-content {
      @media screen and (min-width: 1080px) {
        max-width: 1200px;
        display: grid;
        grid-template-columns: 54% 40%;
        grid-template-rows: 30% 26% 23%;
        row-gap: 70px;
        -moz-column-gap: 70px;
        column-gap: 70px;
      }

      .amenities-box {
        .amenities-title {
          color: #f6f6f6;
          @include adaptiv-font(40, 28);
          font-weight: 700;
          line-height: 1.14;
          letter-spacing: -0.56px;
          text-transform: uppercase;
          margin-bottom: 28px;
          @media screen and (min-width: 768px) {
            margin-bottom: 40px;
          }
        }
        .amenities-list {
          margin-bottom: 40px;

          .amenities-item {
            position: relative;
            color: #f6f6f6;

            @include adaptiv-font(18, 14);

            font-weight: 400;
            line-height: 1.33;
            letter-spacing: -0.36px;
            text-transform: uppercase;
            padding-left: 20px;
            &::after {
              content: "";
              position: absolute;
              top: 6px;
              left: 5px;
              width: 5px;
              height: 5px;
              background-color: #fff;
              border-radius: 50%;
            }
          }
        }
      }
    }
    .amenities-wrap {
      @media screen and (min-width: 1440px) {
        position: relative;
      }

      .amenities-content-max {
        @media screen and (min-width: 768px) {
          position: relative;
        }
        @media screen and (min-width: 1440px) {
          position: absolute;
          top: -229px;
          right: 0;
          width: 62%;
        }
        .amenities-content-min {
          position: relative;
          .amenities-first-img {
            position: absolute;
            top: 49%;
            height: 31%;
            @media screen and (min-width: 768px) {
              height: 35%;
              top: 31%;
            }
            img {
              height: 100%;
              @media screen and (min-width: 768px) {
              }
            }
          }
          .amenities-second-img {
            display: flex;
            justify-content: flex-end;
            img {
              display: block;
              width: 77%;
              @media screen and (min-width: 768px) {
                width: 58%;
              }
            }
          }
        }

        .amenities-button {
          margin-top: 32px;
          margin-left: auto;
          margin-right: auto;
          @media screen and (min-width: 768px) {
            position: absolute;
            left: 0;
            bottom: 20%;
          }
        }
      }
    }
  }
}
