@import "../common/fonts.scss";

.triple-room-container {
  .triple-room {
    max-width: 1440px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 64px;

    @media screen and (min-width: 768px) {
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 80px;
    }
    @media screen and (min-width: 1440px) {
      padding-bottom: 100px;
    }
    .triple-room-images {
      display: grid;
      gap: 20px;
      grid-template-rows: 74% 22%;
      grid-template-columns: 47% 47%;
      align-content: space-between;
      justify-content: space-between;
      margin-bottom: 32px;

      @media screen and (min-width: 768px) {
        grid-template-rows: 56% 37%;
        grid-template-columns: 46% 31% 14%;
        gap: 32px;
        justify-content: space-between;
        align-content: space-between;
      }
      @media screen and (min-width: 1440px) {
        grid-template-rows: 12% 3% 53% 3% 12%;
        grid-template-columns: 386px 539px 386px;
        row-gap: 32px;
        margin-bottom: 50px;
      }

      .triple-room-img-1 {
        grid-column: 1/3;
        @media screen and (min-width: 768px) {
          grid-column: 1;
          grid-row: 1/3;
        }
        @media screen and (min-width: 1440px) {
          grid-column: 2;
          grid-row: 1/6;
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .triple-room-img-2 {
        @media screen and (min-width: 1440px) {
          grid-column: 3;
          grid-row: 2/5;
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .triple-room-img-3 {
        @media screen and (min-width: 768px) {
          grid-column: 2/4;
        }
        @media screen and (min-width: 1440px) {
          grid-column: 1;
          grid-row: 3/4;
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }
    .triple-room-wrap {
      @media screen and (min-width: 1440px) {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
      }

      .triple-room-text-wrap {
        @media screen and (min-width: 1440px) {
          width: 50%;
        }
        .hotel-rooms-title {
          color: #121212;
          @include adaptiv-font(40, 32);
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.25;
          letter-spacing: -0.64px;
          text-transform: uppercase;
          margin-bottom: 32px;
        }
        .hotel-rooms-text-list {
          @media screen and (min-width: 768px) {
            display: flex;
            gap: 32px;
          }
          .hotel-rooms-text-item {
            @media screen and (min-width: 768px) {
              width: 50%;
            }
            .triple-text-1 {
              margin-bottom: 24px;
            }
            .triple-text-2 {
              margin-bottom: 28px;
            }
            .triple-text-1,
            .triple-text-2 {
              color: #121212;

              font-family: DM Sans;
              @include adaptiv-font(18, 14);
              font-style: normal;
              font-weight: 400;
              line-height: 1.28;
              letter-spacing: -0.28px;
              text-transform: uppercase;
            }
          }
        }
      }
      .hotel-rooms-btns {
        display: flex;
        gap: 12px;
        @media screen and (min-width: 1440px) {
          display: flex;
          gap: 20px;
          height: fit-content;
        }
        .room-btn {
        }
        .prices-btn {
        }
      }
    }
  }
}
