.vscode
.idea
node_modules
.env
*.psd
build/


# Application
!web/app/plugins/
web/app/mu-plugins/*/
web/app/themes/twentytwentythree/
web/app/themes/graming/temp/
web/app/themes/graming/temp/*
web/app/upgrade
!web/app/uploads/
!web/app/uploads/.gitkeep
web/app/cache/*
.vscode

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
web/app/backups-dup-pro/